includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 7
    paths:
        - src
        - database
        - config
        - tests/Product.php
        - tests/Member.php
        - tests/Voter.php
        - tests/Catalog.php
        - tests/ReviewerHarness.php
    configDirectories:
        - config
